.container {
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url("images/Fondo.jpg");
    background-repeat:3;
    background-position: center;
    height: calc(100vh - 128px);
}


.mision-vision {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
    gap: 80px;
    line-height: 2;
    text-align: center;
    padding: 48px;
    box-sizing: border-box;
    height: calc(100vh - 128);
    width: 100%;
}


section .mision {
    width: 350px;

    
}

section .vision {
    width: 350px;
}

.mision-vision h1 {
    text-align: center;
    background-color: #4f92d5;
    font-family: Verdana;
    color: white;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
}

.mision-vision p {
    margin: 32px 0 0 0;
    font-family: Verdana;
}


@media (max-width: 800px) {
    .mision-vision {
        flex-wrap: wrap;
        text-align: left;
    }
}