.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.principios-valores {
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    text-align: left;
    padding: 48px 0 0 0;
    box-sizing: border-box;
    width: 70%;
}

section .principios {
    width: 45%;
    /* min-width: 300px; */
}

section .valores {
    width: 45%;
    /* min-width: 300px; */
}

.principios-valores h2 {
    text-align: center;
    background-color: #4f92d5;
    color: white;
    border-radius: 8px;
    padding: 24px;
    box-sizing: border-box;
}

.principios-valores p {
    margin: 32px 0 0 0;
}

ol {
    list-style-type: decimal;
}

.principios-valores li {
    margin-top: .5em;
    margin-bottom: .5em;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

@media (max-width:1000px) {
    .principios-valores {
        width: 80%;
    }
}


@media (max-width: 700px) {
    .principios-valores {
        flex-wrap: wrap;
        width: 90%;
    }
    section .principios {
        width: 95%;
        /* min-width: 300px; */
    }
    section .valores {
        width: 95%;
    }
}