<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/contrataciones.css">
    <title>Title</title>
    <script>
        function eliminarAño(año) {

            const url = `/api/seccion/21/${año}/e`;

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert('Año eliminado correctamente');
                        // Opcional: recargar la página para reflejar los cambios o actualizar el DOM
                        location.reload();
                    } else {
                        alert('Error al eliminar el año');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error en la conexión.');
                });
        }

        function agregarAño(año) {

            if (!isValidYear(año)) {
                alert('Por favor ingrese un año válido (número entero positivo).');
                return;
            }

            const url = `/api/seccion/21/${año}/a`;

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        alert('Año agregado correctamente');
                        // Opcional: recargar la página para reflejar los cambios o actualizar el DOM
                        location.reload();
                    } else {
                        alert('Error al eliminar el año');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error en la conexión.');
                });
        }

        function isValidYear(year) {
            const yearValue = year.trim(); // Eliminar espacios extra
            // Verificar si es un número entero positivo
            const regex = /^[1-9]\d*$/;
            return regex.test(yearValue);
        }

    </script>
</head>
<body>
<div th:insert="fragments :: header"></div>
<h1 class="titulo-contrataciones">Contarataciones</h1>

<div class="flex-container" th:if="${años != null and !#lists.isEmpty(años)}" >
    <section class="container-years" th:each="año : ${años}" th:if="${año != null and !año.isEmpty()}">
        <div class="years">
            <p>
                <a th:href="@{/content/contratacionanual/{año}(año=${año})}" th:text="${año}"></a>
            </p>
            <div th:if="${isAdmin}">
                <button id="delete" type="button" class="btn-eliminar" th:data-año="${año}">Eliminar Año</button>
            </div>
        </div>
    </section>
</div>


<div class="flex-container" th:if="${isAdmin}">
    <input type="text" id="nuevoAño" name="nuevoAño">
    <button type="button" class="btn-add">Agregar Año</button>
</div>

<div class="pagination" th:if="${totalPages > 1}">
    <!-- Botón anterior -->
    <button th:disabled="${currentPage == 0}"
            th:onclick="'location.href=\'?page=' + (${currentPage} - 1) + '&size=5\''">
        &laquo; Anteriores
    </button>

    <!-- Botones para cada página -->
    <span th:each="page, iterStat : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:classappend="${page == currentPage} ? 'active'"
           th:href="@{'/contrataciones'(page=${page}, size=5)}"
           th:text="${page + 1}">1</a>
    </span>

    <!-- Botón siguiente -->
    <button th:disabled="${currentPage + 1 == totalPages}"
            th:onclick="'location.href=\'?page=' + (${currentPage} + 1) + '&size=5\''">
        Siguientes &raquo;
    </button>
</div>


<script>

    document.querySelectorAll('.btn-eliminar').forEach(button => {
        button.addEventListener('click', function() {
            const año = this.getAttribute('data-año');
            eliminarAño(año);
        });
    });

    document.querySelectorAll('.btn-add').forEach(button => {
        button.addEventListener('click', function() {
            const año = document.getElementById("nuevoAño").value;
            agregarAño(año);
        });
    });
</script>
</body>
</html>