<header th:fragment="header">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <a href="#" class="logo"><img src="/images/Logo.png" alt="logo">
        <section class="title">
            <h1>Institucion Educativa Rural <br><span>Vanguardia</span><br><span class="subtitle">¡CON PASO FIRME HACIA LA EXCELENCIA PERSONAL!</span></h1>
        </section></a>
    
    <nav class="navbar">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="">Admisiones</a></li>
            <li><a href="">Nuestra institución +</a>
                <ul>
                    <li><a href="/content/simbolos">Simbolos institucionales</a></li>
                    <li><a href="/content/misionvision">Misión y visión</a></li>
                    <li><a href="/content/principios">Principios y valores</a></li>
                    <li><a href="/content/sedes">Sedes</a>
                </ul>
            </li>
            <li><a href="">Gestión administrativa +</a>
                <ul>
                    <li><a href="/content/resoluciones">Resoluciones</a></li>
                    <li><a href="/content/comunicados">Comunicados</a></li>
                    <li><a href="/content/contrataciones">Contrataciones</a></li>
                    <li><a href="/content/convocatorias">Convocatorias</a></li>
                    <li><a href="/content/rendicion">Rendicion de cuentas</a></li>
                    <!-- <li><a href="/content/"></a></li> -->
                </ul>
            </li>
            <li><a href="">Gestión académica</a>
                <ul>
                    <li><a href="/content/pei">PEI</a></li>
                    <li><a href="/content/manual">Manual de Convivencia</a></li>
                    <li><a href="/content/plataforma">Plataformas Institucionales</a></li>
                    <li><a href="/content/plan">Plan de Estudio</a>
                </ul>
            </li>
            <li><a href="">Comumidad</a></li>

        </ul>
    </nav>
</header>

<div th:fragment="estilos">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</div>