<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<div th:insert="fragments :: header"></div>
<main>
    <img src="/images/principal.png" alt="imagen principal">
    <article class="preambulo">
        <p>Somos la institución educativa Rural Vanguardia, un espacio donde la educación de calidad y el crecimiento integral de nuestros estudiantes son nuestra prioridad. Con el lema "Con paso firme hacia la excelencia personal", nos comprometemos a brindar una formación académica de alto nivel, fomentando el desarrollo de habilidades, valores y el espíritu crítico</p>
    </article>

</main>
</body>
</html>