<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/misioin_y_vision.css">
    <title>Mision y Vision</title>
</head>
<body>

<div th:insert="fragments :: header"></div>

    <div class="container">
        <section class="mision-vision">
            <div class="mision">
                <h1>Nuestra misión</h1>
                <p>Formar bachilleres técnicos en áreas relacionadas con la conservación, protección y manejo ambiental, desde un modelo pedagógico vanguardista, que les permita ser capaces de transformar su entorno a través de procesos de investigación, desarrollo de proyectos, competencias ciudadanas y laborales, basados en los valores y principios institucionales, con un alto sentido de liderazgo que conlleve a un cambio social, y al mejoramiento de su calidad de vida.</p>
            </div>
            <div class="mision">
                <h1>Nuestra visión</h1>
                <p>Para el 2022 la Institución Educativa Rural Vanguardia, será reconocida a nivel municipal y departamental por sus resultados académicos y su participación en proyectos de desarrollo rural y ambiental, fundamentado en el juicio crítico y autoconstrucción permanente, así como en los valores éticos y morales</p>
                <p></p>
            </div>
        </section>
    </div>
</main>
 
</body>
</html>