<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/principios.css">
    <title>Principios y Valores</title>
    <script>

    </script>
</head>

<body>

<div th:insert="fragments :: header"></div>

<main class="container">
    <section class="principios-valores">
        <article class="principios">
            <h2>Principios</h2>
            <hr>
            <p>Los principios que determinan la acción en la Institución educativa Rural Vanguardia, están enmarcados en los principios de la Convivencia Escolar, según la Ley 1620 de 2013, así: </p>
            <br>
            <p><b>ASERTIVIDAD</b>: Como el manejo de una comunicación clara, sincera, respetuosa y transparente.  Claridad acerca de las fortalezas, debilidades y oportunidades; de manera que se pueda direccionar cada programa en el norte que constituye nuestra visión.</p>

            <p><b>CALIDAD</b>: Entendemos por calidad no solo el cumplimiento del deber y de las normas sino la eficacia de lo que se hace al interior de la institución y se proyecta en el mediano y en el largo plazo.  Implica además un compromiso en el mejoramiento continuo del quehacer educativo y de la misma institución.</p>

            <p><b>COMPROMISO</b>: Entendido como el esfuerzo consciente, personal y comunitario tanto en el desarrollo de los programas como en el logro de las metas propuestas.</p>

            <p><b>CREATIVIDAD</b>: Posibilidad de innovación en la búsqueda de estrategias pedagógicas, didácticas, evaluativas y participativas de manera que el quehacer interno se proyecte en el espacio local y regional.</p>

            <p><b>PARTICIPACIÓN</b>: Todos los estamentos de la comunidad educativa deben comprometerse con el desarrollo y el crecimiento institucional, el cual redunda en beneficios para los propios actores y la comunidad circundante.</p>

            <p><b>PRO-ACTIVIDAD</b>: Actitud en la que el individuo dentro de su contexto educativo y social asume el pleno control de su conducta vital de modo activo, lo que implica la toma de iniciativa en el desarrollo de acciones  creativas y audaces para generar mejoras en los diferentes proyectos dentro de un contexto real.</p>

            <p><b>SINERGIA</b>: Entendida como la importancia de trabajar en equipo, pues todos logramos mejores resultados dentro de los proyectos en una formación y socialización colectiva que cada uno por su cuenta.</p>

            <p><b>EXCELENCIA</b>: Partimos del principio de que la educación no se reduce a la mera instrucción.  El maestro ha de ser educador en sentido completo, favoreciendo el desarrollo de todos aspectos de la persona y contribuyendo a una educación integral y personalizada.</p>

            <p><b>EQUIDAD</b>: Entendida como una cualidad que consiste en dar a cada uno lo que se merece por sus méritos o condiciones.</p>

            <p><b>PRINCIPIOS DEL SISTEMA NACIONAL DE CONVIVENCIA ESCOLAR Y FORMACIÓN PARA LOS DERECHOS HUMANOS, LA EDUCACIÓN PARA LA SEXUALIDAD Y LA PREVENCIÓN Y MITIGACIÓN DE LA VIOLENCIA ESCOLAR (Ley 1620 de 2013):</b></p>

            <p><b>PARTICIPACIÓN</b>: En virtud de este principio las entidades y establecimientos educativos deben garantizar su participación activa para la coordinación y armonización de acciones, en el ejercicio de sus respectivas funciones, que permitan el cumplimiento de los fines del Sistema. Al tenor de la Ley 115 de 1994 y de los artículos 31, 32, 43 Y 44 de la Ley 1098 de 2006, los establecimientos educativos deben garantizar el derecho a la participación de niños, niñas y adolescentes en el desarrollo de las estrategias y acciones que se adelanten dentro de los mismos en el marco del Sistema. En armonía con los artículos 113 y ?88 de la Constitución Política, los diferentes estamentos estatales deben actuar en el marco de la coordinación, concurrencia, complementariedad y subsidiariedad; respondiendo a sus funciones misionales.</p>

            <p><b>CORRESPONSABILIDAD</b>: La familia, los establecimientos educativos, la sociedad y el Estado son corresponsables de la formación ciudadana, la promoción de la convivencia escolar, la educación para el ejercicio de los derechos humanos, sexuales y reproductivos de los niños, niñas y adolescentes desde sus respectivos ámbitos de acción, en torno a los objetivos del Sistema y de conformidad con lo consagrado en el artículo 44 de la Constitución Política y el Código de Infancia y la Adolescencia.</p>

            <p><b>AUTONOMÍA</b>: Los individuos, entidades territoriales e instituciones educativas son autónomos en concordancia con la Constitución Política y dentro de los límites fijados por las leyes, normas y disposiciones</p>

            <p><b>DIVERSIDAD</b>: El Sistema se fundamenta en el reconocimiento, respeto y valoración de la dignidad propia y ajena, sin discriminación por razones de género, orientación o identidad sexual, etnia o condición física, social o cultural. Los niños, niñas y adolescentes tienen derecho a recibir una educación y formación que se fundamente en una concepción integral de la persona y la dignidad humana, en ambientes pacíficos, democráticos e incluyentes.</p>

            <p><b>INTEGRALIDAD</b>: La filosofía del sistema será integral, y estará orientada hacia la promoción de la educación para la autorregulación del individuo, de la educación para la sanción social y de la educación en el respeto a la I Constitución y las leyes.</p>

            </ul>
        </article>
        <article class="valores">
            <h2>Valores</h2>
            <p>Son valores fundamentales en el quehacer institucional:</p>

            <ol>
                <li><b>Amor:</b> Sentimiento que lleva al ser humano a desearle al otro todo lo bueno. “El amor es paciente, bondadoso. El amor no es envidioso, ni jactancioso, ni orgulloso. No se comporta con rudeza, no es egoísta, no se enoja fácilmente, no guarda rencor” (1 Corintios 13: 4-5).</li>
                <li><b>Autonomía:</b> Ser capaz de hacer ciertas cosas por uno mismo, sin depender de nadie, a partir de ideas propias. “La gente suele decir que tal o cual persona no se ha encontrado todavía a sí mismo. Pero la autonomía no es algo que uno encuentra, es algo que uno crea” (Thomas Szasz).</li>
                <li><b>Respeto:</b> Consideración con que se trata a alguien que es digno, sin causarle ofensa o perjuicio. “El respeto por nosotros mismos guía nuestra moral, el respeto por otros quía nuestras maneras” (Laurence Sterne).</li>
                <li><b>Responsabilidad:</b> Ser conscientes de que lo que hacemos o lo que dejamos de hacer puede tener sobre los demás o sobre uno mismo ciertas consecuencias. “La libertad significa responsabilidad. Es por eso que la mayoría de los hombres la ignoran” (George Bernard Shaw).</li>
                <li><b>Conciencia Ambiental:</b> Es actuar consecuentemente con el medio ambiente, es decir, intentar no perjudicarlo, reciclando, reutilizando y regulando todo aquello que pueda deteriorar nuestro entorno y a nosotros mismos. “El hombre es responsable de su propio destino; la tierra es nuestro destino, y nuestro destino se está destruyendo” (Anónimo).</li>
                <li><b>Emprendimiento:</b> Muy relacionada con la autonomía, es la capacidad de actuar responsablemente sabiendo lo que se hace (proyecto) y prever las consecuencias. “Emprender una forma de ser, una forma de hacer, una forma de vivir… una forma de enseñar” (Maria Batet)</li>
                <li><b>Creatividad:</b> Dar soluciones distintas a situaciones comunes o buscar respuestas a nuevas situaciones, significa buscar nuevos caminos, cambiar la mirada, la perspectiva. “La creatividad se aprende igual que se aprende a leer” (Ken Robinson)</li>
                <li><b>Tolerancia:</b> Es la base para la vida en sociedad. Es tener respeto por las personas con las que convivimos aunque puedan tener diferente cultura, religión, opiniones políticas, ideología… “todos estamos llenos de debilidades y errores; perdonémonos recíprocamente nuestras tonterías: esa es la primera ley de la naturaleza” (Voltaire).</li>
                <li><b>Cooperación:</b> Colaborar con los demás, compartir ideas, opiniones, nos hace mejores, da mejores resultados. La cooperación tiene más sentido cuando siendo autónomos elegimos compartir. “Yo hago lo que usted no puede, y usted hace lo que yo no puedo. Juntos podemos hacer grandes cosas” (Madre Teresa de Calcuta).</li>
                <li><b>Transparencia:</b> Ser honesto con uno mismo y con los demás. Es un valor fundamental para trabajar en equipo. “Lo que las leyes no prohíben, puede prohibirlo la honestidad” (Lucio Anneo Séneca).</li>
                <li><b>Entusiasmo:</b> Es lo que nos impulsa a actuar, a llevar a cabo cualquier proyecto. “No dejes apagar el entusiasmo, virtud tan valiosa como necesaria; trabaja, aspira, tiende siempre hacia la altura” (Rubén Darío).</li>
            </ol>
            <p></p>

        </article>
    </section>
</main>

</body>
</html>
