<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simbolos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/sedes.css">
</head>
<body>
<div th:insert="fragments :: header"></div>

<div class="titulo-sedes">
    <h2 >¿Donde Encontrarnos?</h2>
</div>
<main>
    <section class="container-sedes">
        <br><br>
        <br><br>
        <img src="/images/sedes.png" alt="Sedes" >
        <br><br>

    </section>
</main>
</body>
</html>