<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simbolos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:insert="fragments :: header"></div>
<main>
    <section class="himno">
        <br><br>
        <h2 class="himnotitle">¿Donde Encontrarnos?</h2>
        <br><br>
        <img src="/images/sedes.png" alt="Sedes" >
        <br><br>

    </section>
</main>
</body>
</html>