<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simbolos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="fragments :: header"></header>
<main>
    <section class="himno">
        <br>
        <br>
        <h1 class="himnotitle">Himno</h1>
        <br>
        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/308514556&amp;color=%2300aabb&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=false&amp;visual=false" width="600" height="120" frameborder="no" scrolling="no"></iframe>
        <br><br>
        <article class="estrofa">
            <p><strong>I</strong></p>
            <p>Vamos caminando a la vanguardia<br>
                con orgullo y con tenacidad<br>
                unidos en la fe y la tolerancia<br>
                con respeto, disciplina y lealtad.</p>
        </article>

        <article class="estrofa">
            <p><strong>II</strong></p>
            <p>Compromiso de nosotros nuestra patria<br>
                con amor y solidaridad,<br>
                de Colombia construiremos el mañana<br>
                viva la ciencia, la cultura y la paz.</p>
        </article>

        <article class="coro">
            <p><strong>Coro:</strong></p>
            <p>Con Dios del cielo caminaremos,<br>
                con paso firme,<br>
                hacia la excelencia personal (bis)</p>
        </article>

        <article class="estrofa">
            <p><strong>III</strong></p>
            <p>Verde campo al pie de la montaña<br>
                donde las arpas bordonean la libertad<br>
                nos formamos con calidad humana<br>
                para forjar la nueva sociedad.</p>
        </article>

        <article class="estrofa">
            <p><strong>IV</strong></p>
            <p>Son mis maestros sembradores de esperanza<br>
                en tierra fértil, nuestra vida así será<br>
                cosecharemos en futuro su enseñanza<br>
                con autonomía y responsabilidad.</p>
        </article>

        <article class="coro">
            <p><strong>Coro:</strong></p>
            <p>Con Dios del cielo caminaremos,<br>
                con paso firme,<br>
                hacia la excelencia personal (bis)</p>
        </article>

        <article class="estrofa">
            <p><strong>V</strong></p>
            <p>En el deporte fomentamos la constancia<br>
                en la oración la vivencia espiritual<br>
                con la lectura enriquecemos nuestras almas<br>
                desde las aulas nace la fraternidad.</p>
        </article>

        <article class="estrofa">
            <p><strong>VI</strong></p>
            <p>El regresar será siempre una añoranza<br>
                a esta casa nuestro segundo hogar<br>
                y crecer con la familia colombiana<br>
                en la unidad, el liderazgo y la hermandad.</p>
        </article>

        <article class="coro">
            <p><strong>Coro:</strong></p>
            <p>Con Dios del cielo caminaremos,<br>
                con paso firme,<br>
                hacia la excelencia personal (bis)</p>
        </article>

        <article class="autor">
            <p>Autor: Jairo Humberto Rojas Bonilla, 2005<br>
                Ex alumno 1981</p>
        </article>
    </section>
    <section class="himno">
        <br><br>
        <h2 class="himnotitle">Escudo</h2>
        <br><br>
        <img src="/images/Escudo.png" alt="Escudo" width="609" height="609">
        <br><br>
        <article class="section">
            <p><span class="label">Círculo:</span> Eticidad y racionalidad.</p>
        </article>

        <article class="section">
            <p><span class="label">Color Azul:</span> Expresa armonía, amistad, fidelidad, serenidad, sosiego y optimismo.</p>
        </article>

        <article class="section">
            <p><span class="label">Figuras humanas:</span> Trabajo en equipo.</p>
        </article>

        <article class="section">
            <p><span class="label">Sol:</span> La luminaria que rige todo el sistema, produce calor, crea vida, confiere orden y brilla con luz propia.</p>
        </article>
    </section>
    <section class="himno">
        <br><br>
        <h2 class="himnotitle">Bandera</h2>
        <br><br>
        <img src="/images/Bandera.png" alt="Bandera">
        <br><br>
        <p class="section">El color azul de nuestro cielo, significa lealtad, justicia, buena reputación y la nobleza.  El color blanco significa la paz, pureza, el triunfo, la alegría, la inocencia y la inmortalidad.  El color verde de nuestro inmenso llano, representa la naturaleza, es esperanza, conciencia ecológica, honor, civismo y vigor.</p>
    </section>
    <section class="himno">
        <br><br>
        <h2 class="himnotitle">Lema</h2>
        <br><br>
        <article class="container">
            <h3>"CON PASO FIRME HACIA LA EXCELENCIA PERSONAL"</h3>
            <p>Se define como un camino, una actitud mental positiva y un compromiso ante la vida.</p>
        </article>
    </section>
    <section class="himno">
        <br><br>
        <h2 class="himnotitle">Mascota</h2>
        <br><br>
        <img src="/images/Mascota.png" alt="Mascota">
        <br><br>
        <p>La carita feliz significa la inteligencia emocional, la felicidad de aprender y la felicidad que lleva consigo cada uno.</p>
        <br><br><br><br>
    </section>
</main>
</body>
</html>