<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div th:insert="fragments :: estilos"></div>
    <title>Manual de Convivencia</title>
    <script>

        document.addEventListener("DOMContentLoaded", () => {
            const button = document.getElementById("toggleManual");
            const button1 = document.getElementById("guardar")
            const textarea = document.getElementById("textarea1");
            console.log('boton', button);
            console.log(textarea);
            textarea.style.display = "none";
            button1.style.display = "none";

            button.addEventListener("click", () => {

                if (textarea.style.display === "none") {
                    textarea.style.display = "block";  // Mostrar el textarea
                }
                if (button1.style.display === "none"){
                    button1.style.display = "block";
                }
            });

            button1.addEventListener("click", () => {
                var id = [[${contenido.id}]];
                var url = "/api/contenido/" + id;
                const requestData = {
                    titulo: "Manual de Convivencia",
                    descripcion: document.getElementById('textarea1').value,
                    seccion:{
                        id:4
                    }
                };

                fetch(url, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.href = '/'; // Redirige a la página de inicio
                        } else {
                            alert('Error al guardar el principio'); // Maneja el error
                        }
                    })
                    .catch(error => {
                        println(error);
                        console.error('Error:', error);
                        alert('Ocurrió un error en la conexión.');
                    });
            });
        });
    </script>
</head>
<body>
<div th:insert="fragments :: header"></div>

<section class="supertitle">
    <h1>Manual de Convivencia</h1>
</section>
<main class="manual">
    <section class="container">
        <article class="Manual-container">
            <p class="pei-description">El manual de convivencia es una herramienta fundamental para la vida escolar, ya que establece las normas, deberes y derechos que deben regir las interacciones entre todos los miembros de la comunidad educativa: estudiantes, docentes, directivos y padres de familia. Su principal objetivo es fomentar un ambiente de respeto, tolerancia y colaboración que promueva el desarrollo integral de los estudiantes en un entorno seguro y armónico.</p>
        </article>
        <div class="pei-pdf" th:unless="${noManual}">
            <iframe th:src="@{${contenido.getDescripcion()}}" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <section class="manual2">
            <br><br>
            <br><br>
            <div th:if="${isAdmin}">
                <button id="toggleManual" class="boton1">Editar Enlace de Manual de Convivencia</button>
                <br>
                <textarea id="textarea1" class="textarea1" placeholder="ingrese el enlace..."></textarea>
                <br>
                <button id="guardar" class="boton2">Guardar</button>
            </div>
            <br><br><br>
        </section>
    </section>
</main>
</body>
</html>