<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan de estudios</title>
    <div th:insert="fragments :: estilos"></div>
</head>
<body>
    <div th:insert="fragments :: header"></div>
    <main class="containerPlan">
        <section class="plan-estudios">
            <br><br><br>
            <h1>Plan de estudios</h1>
            <p>El plan de estudios de un colegio es una estructura educativa diseñada para guiar el aprendizaje de los estudiantes a lo largo de su formación académica. Incluye asignaturas fundamentales como matemáticas, ciencias, lenguas y estudios sociales, complementadas por áreas como artes, deportes y tecnología. Además, se promueve el desarrollo integral del estudiante a través de actividades extracurriculares, valores éticos y habilidades socioemocionales.</p>
        </section>
        <section class="archivos">
            <article class="archivos-cursos">
                <h2>Plan de estudios 2024 - pre escolar</h2>
                <br><br>
                <button class="boton1">Visualizar</button>
            </article>
            <article class="archivos-cursos">
                <h2>Plan de estudios 2024 - Primaria</h2>
                <br><br>
                <button class="boton1">Visualizar</button>
            </article>
            <article class="archivos-cursos">
                <h2>Plan de estudios 2024 - Bachillerato (Medio)</h2>
                <br><br>
                <button class="boton1">Visualizar</button>
            </article>
            <article class="archivos-cursos">
                <h2>Plan de estudios 2024 - Bachillerato (Superior)</h2>
                <br><br>
                <button class="boton1">Visualizar</button>
            </article>

        </section>

    </main>
</body>
</html>